<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--<servlet>-->
        <!--<servlet-name>AddCategoriesServlet</servlet-name>-->
        <!--<servlet-class>servlet.Categories.AddCategoriesServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AddCategoriesServlet</servlet-name>-->
        <!--<url-pattern>/addCategories</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>AddColorsServlet</servlet-name>-->
        <!--<servlet-class>servlet.Colors.AddColorsServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AddColorsServlet</servlet-name>-->
        <!--<url-pattern>/addColors</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>AddShapeServlet</servlet-name>-->
        <!--<servlet-class>servlet.Shape.AddShapeServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AddShapeServlet</servlet-name>-->
        <!--<url-pattern>/addShape</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>AddSmartphoneServlet</servlet-name>-->
        <!--<servlet-class>servlet.Smartphone.AddSmartphoneServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AddSmartphoneServlet</servlet-name>-->
        <!--<url-pattern>/addSmartphone</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>EditCategoriesServlet</servlet-name>-->
        <!--<servlet-class>servlet.Categories.EditCategoriesServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>EditCategoriesServlet</servlet-name>-->
        <!--<url-pattern>/editCategories</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>EditColorsServlet</servlet-name>-->
        <!--<servlet-class>servlet.Colors.EditColorsServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>EditColorsServlet</servlet-name>-->
        <!--<url-pattern>/editColors</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>EditShapeServlet</servlet-name>-->
        <!--<servlet-class>servlet.Shape.EditShapeServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>EditShapeServlet</servlet-name>-->
        <!--<url-pattern>/editShapes</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>EditSmartphoneServlet</servlet-name>-->
        <!--<servlet-class>servlet.Smartphone.EditSmartphoneServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>EditSmartphoneServlet</servlet-name>-->
        <!--<url-pattern>/editSmartphone</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>ListCategoriesServlet</servlet-name>-->
        <!--<servlet-class>servlet.Categories.ListCategoriesServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ListCategoriesServlet</servlet-name>-->
        <!--<url-pattern>/listCategories</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>ListColorsServlet</servlet-name>-->
        <!--<servlet-class>servlet.Colors.ListColorsServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ListColorsServlet</servlet-name>-->
        <!--<url-pattern>/listColors</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>ListShapeServlet</servlet-name>-->
        <!--<servlet-class>servlet.Shape.ListShapeServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ListShapeServlet</servlet-name>-->
        <!--<url-pattern>/listShapes</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>ListSmartphoneServlet</servlet-name>-->
        <!--<servlet-class>servlet.Smartphone.ListSmartphoneServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ListSmartphoneServlet</servlet-name>-->
        <!--<url-pattern>/listSmartphones</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>

